.projectsContainer {
    width: 95%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: calc(100% - 100px);
    background-color: rgb(26, 26, 26);
    border-radius: 5pxrgb(2, 2, 2)
}
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 9000;
}
.eachProject {
    color: white;
    width: 96%;
    height: fit-content;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0.075);
    box-shadow: 0 8px 32px 0 rgba(27, 27, 27, 0.37);
    border: rgb(53, 53, 53) solid 1px;    
    height: fit-content;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    transition: ease-in all 0.2s;
    display: flex;
    padding-right: 15px;
    margin-left: auto;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    h3 {
        width: 30%;
    }
    &:hover {
        cursor: pointer;
        transform: scale(1.005);
    }
}

.participants {
    display: flex;
    width: fit-content;
    margin-top: 5px;
    height: fit-content;
    h5 {
        margin-right: 5px;
        background-color: orange;
        padding: 2px;
        color: black;
        border-radius: 5px;
    }
}

.participantsIcon {
    color: rgb(233, 233, 233) !important;
    margin-right: 5px;
    font-size: 20px !important;
}


.descPart {
    width: 75%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    h4 {
        font-weight: 400;
    }
    h5 {
            font-weight: 400;
    }
}

.projectParticAvatar {
    height: 50px;
    border-radius: 50%;
    width: 50px;
    background-color: orange;
    h4 {
        font-size: 10px;
    }
}

@media (max-width: 450px) {
    .eachProject {
        color: white;
        width: 92%;
        background-color: rgba(255, 255, 255, 0.075);
        box-shadow: 0 8px 32px 0 rgba(27, 27, 27, 0.37);
        border: rgb(53, 53, 53) solid 1px;    
        height: fit-content;
        padding: 2px;
        padding-left: 5px;
        transition: ease-in all 0.2s;
        margin-bottom: 10px;
        display: flex;
        padding-right: 15px;
        margin-left: auto;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        margin-right: auto;
        h3 {
            width: 30%;
        }
        &:hover {
            cursor: pointer;
            transform: scale(1.005);
        }
    }
    
    .participants {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        width: fit-content;
        margin-top: 10px;
        height: fit-content;
        h5 {
            margin-right: 5px;
            background-color: orange;
            padding: 2px;
            color: black;
            border-radius: 5px;
        }
    }
    
    .participantsIcon {
        color: rgb(233, 233, 233) !important;
        margin-right: 5px;
        font-size: 20px !important;
    }
    
    
    .descPart {
        width: 95%;
        height: fit-content;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        h4 {
            font-weight: 400;
        }
        h5 {
                font-weight: 400;
        }
    }
    
    .projectParticAvatar {
        height: 50px;
        border-radius: 50%;
        width: 50px;
        background-color: orange;
        h4 {
            font-size: 10px;
        }
    }
}